parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset int on mixed\\.$#"
			count: 3
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Cannot access offset int\\|null on mixed\\.$#"
			count: 1
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Cannot access offset mixed on mixed\\.$#"
			count: 4
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Parameter \\#1 \\$array of function current expects array\\|object, mixed given\\.$#"
			count: 1
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Parameter \\#1 \\$array of function key expects array\\|object, mixed given\\.$#"
			count: 1
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Parameter \\#1 \\$array of function next expects array\\|object, mixed given\\.$#"
			count: 1
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Parameter \\#1 \\$array of function reset expects array\\|object, mixed given\\.$#"
			count: 1
			path: Classes/Proxy/Proxy.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, mixed given\\.$#"
			count: 1
			path: Classes/Proxy/Proxy.php
